body{
    margin-left: 15%;
    margin-right: 15%;
    box-sizing: border-box;
    background-color: #E3E2DF;
    font-family: "Poppins", sans-serif;
}
.homeContainer{
    background-color: #E3E2DF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5vh 10vh 40vh 40vh 5vh;
    grid-template-areas: "header header"
                         "nav nav"
                         "banner banner"
                         "mission links"
                         "footer footer";
}
.aboutMeContainer{
    background-color: #E3E2DF;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 5vh 10vh 80vh 5vh;
    grid-template-areas: "header header"
                         "nav nav"
                         "picture aboutMe"
                         "footer footer";
}
.projectsContainer{
    background-color: #E3E2DF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5vh 10vh 15vh 20vh 45vh 5vh;
    grid-template-areas: "header header"
                         "nav nav"
                         "projectsBar projectsBar"
                         "projectDescription projectDescription"
                         "projectPicture projectPicture"
                         "footer footer";
}
.servicesContainer{
    background-color: #E3E2DF;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5vh 10vh 80vh 5vh;
    grid-template-areas: "header header header"
                         "nav nav nav"
                         "service1 service2 service3"
                         "footer footer footer";
}
.contactContainer{
    background-color: #E3E2DF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5vh 10vh 80vh 5vh;
    grid-template-areas: "header header"
                         "nav nav"
                         "contactInfo contactForm"
                         "footer footer";
}
header{
    height: 40px;
    width: 100%;
    grid-area: header;
    text-align:right;
}
header img{
    width: 45px;
    height: 40px;
    opacity: 0.5; 
}
header img:hover{
    opacity: 1;
    cursor: pointer;  
}
nav{
    height: 80px;
    width: 100%;
    grid-area: nav;
    text-align: center;
    vertical-align:top;
}
nav img{
    width: 90px;
    height: 80px;
    vertical-align:top;
}
nav a{
    background-color: #9A1750;
    vertical-align:top;
    padding: 100px;
}
footer{
    text-align: center;
    grid-area: footer;
}
.banner{
    height: 90%;
    grid-area: banner;
    text-align: center;
}
.banner img{
    height: 90%;
    width: 100%;
    margin-top: 20px;
    border-radius: 3rem;
}
.mission{
    height: 100%;
    grid-area: mission;
    border-style: solid;
    border-color:#9A1750;
    width: 90%;
    margin-left: 0; 
    margin-right: auto;
    color: #5D001E;
    border-radius: 3rem;
    padding-left: 20px;
}
.links{
    height: 100%;
    grid-area: links;
    border-style: solid;
    border-color:#9A1750;
    width: 90%;
    margin-left: auto; 
    margin-right: 0;
    color: #5D001E;
    border-radius: 3rem;
    padding-left: 20px;
}
.links ul{
    list-style-type: none;
}
.links li{
    margin:0 0 8px 0;  
}
.links img{
    height: 8%;
    width: 8%;
}
.picture{
    margin-top: 40px;
    height: 80%;
    grid-area: picture;    
}
.picture img{
    margin: auto;
    top: 50;
    display: block;
    height: 60%;
    width: 70%;
    border-radius: 100%
}
.picture figcaption{
    color: #5D001E;
    text-align: center;
}
.aboutMe{
    margin-top: 40px;
    height: 80%;
    grid-area: aboutMe;
}
.aboutMe p{
    margin-top: 30px;
    color: #5D001E;
}
.projectsBar{
    grid-area: projectsBar;
    width: 100%;
    margin: auto;
}
.projectsBar div{
    float: left;
    height: 80%;
    width: 30%;
    border-radius: 10px;
    background-color: #9A1750;
    cursor: pointer;
}
.projectsBar div:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
 }
.projectsBar p{
    text-align: center;
    font-style: bold;
    color:#E3E2DF;
}
.project1{
    opacity: 1;
}
.project2{
    margin-left: 5%;
    margin-right: 5%;
    opacity: 0.5;
}
.project3{
    opacity: 0.5;
}
.projectPicture{
    grid-area: projectPicture;
    width: 100%;
    height: 100%;
}
.projectPicture img{
    margin: auto;
    display: block;
    width: 50%;
    height: 100%;
}
.projectDescription{
    grid-area: projectDescription;
    width: 100%;
}
.projectDescription p{
    text-align: center;
    color: #5D001E;
}
.servicesContainer div{
    height: 40%;
    width: 90%;
    margin: auto;
    border: solid;
    border-style: solid;
    border-color:#9A1750;
    border-radius: 3rem;
}
.service1{
    grid-area: service1;
}
.service2{
    grid-area: service2;
}
.service3{
    grid-area: service3;
}
.service1 img, .service2 img, .service3 img{
    margin: auto;
    display: block;
    height: 90%;
    width: 90%;
    border-radius: 100%
}
.service1 figcaption, .service2 figcaption, .service3 figcaption{
    color: #5D001E;
    text-align: center;
    font-style: bold;
}
.contactContainer div{
    width: 90%;
    padding-left: 5%;
    border: solid;
    border-style: solid;
    border-color:#9A1750;
    border-radius: 3rem;
}
.contactContainer p, .contactContainer label{
    color: #5D001E;
}
.contactInfo{
    grid-area: contactInfo;
    margin-left: 0; 
    margin-right: auto;
    height: 35%;
    margin-top: 10%;
}
.contactForm{
    grid-area: contactForm;
    margin-left: auto; 
    margin-right: 0;
    margin-top: 10%;
}
#buttons{
    margin-top: 22px;
}
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #E3E2DF;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
}
.b {
    border-color: transparent;
    background-color: #9A1750;
    color: #E3E2DF;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}
.bn37:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

input[type=text], input[type=password], input[type=number], input[type=tel], select, textarea {
    padding: 1.5px 2.5px;
    margin: 2px 0;
    display: block;
    border: 1px solid #5D001E;
    border-radius: 4px;
    box-sizing: border-box;
}