<!--Phelipe Matias da Silva - ID 301233605 - 10/7/2022-->

<!--Navigation bar for all pages-->
<nav>
    <img src="img/logo.png">
    <a id="buttons" href="/" class="btn b">Home</a>
    <a id="buttons" href="aboutme" class="btn b">About Me</a>
    <a id="buttons" href="projects" class="btn b">Projects</a>
    <a id="buttons" href="services" class="btn b">Services</a>
    <a id="buttons" href="contact" class="btn b">Contact</a>
</nav>