<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
    <div class="homeContainer">

        <%- include('partials/header') %>
        <%- include('partials/nav') %>

        <div class="banner">
            <img src="img/banner.png">
        </div>

        <div class="mission">
            <h1>Mission</h1>
            <p>Solving real life and business problems using software.</p>
        </div>

        <div class="links">
            <h1>Links</h1>
            <ul>
                <li><img src="img/about.png"><a href="aboutme">About Me</a></li>
                <li><img src="img/projects.png"><a href="projects">Projects</a></li>
                <li><img src="img/services.png"><a href="services">Services</a></li>
                <li><img src="img/contact.png"><a href="contact">Contact</a></li>
            </ul>
        </div>

        <%- include('partials/footer') %>
    </div>
</body>
</html>