<!--Phelipe Matias da Silva - ID 301233605 - 10/7/2022-->

<!--Services page-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
    <div class="servicesContainer"><!--Grid container for all divs of the page-->
        <%- include('partials/header') %>
        <%- include('partials/nav') %>

        <!--Three services provided-->
        <div class="service1">
            <img src="img/web.jpg">
            <figcaption>Web Development</figcaption>
        </div>

        <div class="service2">
            <img src="img/mobile.jpg">
            <figcaption>Mobile Development</figcaption>
        </div>

        <div class="service3">
            <img src="img/systems.jpg">
            <figcaption>Systems Analysis</figcaption>
        </div>

        <%- include('partials/footer') %>
    </div>
</body>